#response{
  display:none;
}
#error{
display: none;
}
#message{
display: none;
}
body{
  background-image: url('../img/background.png');
  background-size:100%;
  background-position: fixed;
}
.container{
  background-color:azure;
}